html,
body {
  height: 100%;
  width: 100%;
}

nav {
  height: 100%;
  box-shadow: none !important;
  background: green;
}

.contacts-large li a img, .contacts-large li a {
  height: 45px;
}

.contacts-large li a {
   margin: 10px;
}
/* 
header {
  width: 100%;
  min-height: 55px;
  background-color: #fafafa;
}

header>.container {
  height: 60px;
  padding-top: 0;
}


nav {
  height: 75px;
  color: black !important;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 0 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 0px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

nav ul li a {
  height: 75px;
  color: black !important;
}

.sidenav-trigger {
  color: black !important;
}

.nav-wrapper {
  height: 75px;
}

.nav-wrapper ul li {
  background-color: #fafafa;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.12)
}


#logo-container {
  text-align: center;
  height: 100% !important;
}

#logo-container-large {
  text-align: center;

}

#logo1 {
  z-index: 2;
}

#logo2 {
  top: 0;
  left: -50px;
}

.sidenav li>a#logo-container:hover {
  background-color: transparent;
}


.logo {
  height: 250px;
  line-height: 250px !important;
  margin-bottom: 20px;
}

.front-page-logo {
  width: 200px;
  position: relative;
  top: 25px;
}

.front-page-logo-large {
  width: 200px;
}

.inside {
  left: 6px;
  padding-left: 20px;
  position: relative;
  height: 50px;
  border-bottom: 3px solid #CCCCCC;
  width: 200px;
}

ul.large-menu {
  float: right;
  border-bottom: 1px solid #424242;
  height: 55px;
}

ul.large-menu>li>a {
  height: 55px;
  bottom: 6px;
}

ul.large-menu li i.material-icons {
  display: initial;
  position: relative;
  top: 3px;
  font-size: 16px;
}


ul.large-menu>li>a:hover {
  text-decoration: underline;
  background-color: transparent;
}

ul#nav-mobile a.sideItem>i, ul#nav-mobile a.sideItem>i.material-icons {
  float: inherit;
  color: #424242;
  position: relative;
  top: 5px;
}

ul#nav-mobile a.sideItem {
  padding-left: 60px;
}

ul#nav-mobile a.sideItem:before {
  content: "";
  display: inherit;
  position: absolute;
  right: 3.4em;
  bottom: 1.4em;
  width: 200px;
  height: 20px;
  border-bottom: 3px solid #CCCCCC;
  z-index: 300;
}

ul#nav-mobile a.sideItem:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 2.4em;
  bottom: 0.9em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #CCCCCC;
  z-index: 300;
}

ul#nav-mobile a.sideItem.active:after {
  background: #CCCCCC;
}

p.name {
  position: relative;
  bottom: 550px;
  z-index: 3;
  color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bolder;
  line-height: 22px;
  font-size: 1.35em !important;
}

p.name-large {
  position: relative;
  bottom: 165px;
  z-index: 3;
  color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bolder;
  line-height: 22px;
  font-size: 0.85em !important;
}

p.name span {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: .7em;
}

p.name-large span {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: .7em;
}


@media only screen and (min-width: 992px) {
  nav {
    height: 275px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.nav-and-contact {
  height: 275px;
  width: 100%;
  margin: 0;
  padding-top: 25px;
}


.contacts {
  margin-top: 60px;
}

.contacts-container {
  margin-top: 85px;
}

.contacts-large {
  height: 50px;
  float: right;
}

.contacts-large li {
  display: contents;

}

.contacts-large li a {
  padding-left: 0;
  padding-right: 0;
  width: 40px;
  height: 40px;
  margin-left: 25px;
}

.contacts-large li a:hover {
  background-color: transparent;
  text-decoration: none;
}

.contacts-large li a img {
  padding: 0;
}


img {
  padding: 15px;
  border-style: none;
  height: 100%;
  width: 100%;
}

nav a.sidenav-trigger i {
  height: 75px;
  line-height: 75px;
  border-radius: 8px;
}

nav a.sidenav-trigger {
  height: 75px;
  line-height: 75px;
}


.collapsible-header {
  padding-left: 31px !important;
}

.collapsible-body li a {
  padding-left: 50px !important;
}


.jumbotron {
  /* background-image: url("https://raw.githubusercontent.com/xavierrocks/xav.ie/master/trippyGlassesLMin.jpg"); 
  background-size: cover;
  padding-bottom: 14px !important;
  position: relative;
  background-position: center center;
  background-color: #e8e8e8;
}

.profileImage{
  border-radius: 20px;
}

.card-image {
  max-height:250px;
}

.section {
  min-height: 60vh;
}

footer {
  padding-bottom: 20px;
}

footer h5 {
  font-weight: bold;
}

footer.page-footer ul>li a {
  display: block;
  padding: 7px 5px;
}

footer.page-footer ul {
  margin-top: 0;
  margin-bottom: 0;
}


.sidenav li>a {
  height: 75px !important;
  line-height: 55px !important;
  font-size: 1.25em;
}




.section h2 {
  font-weight: bold;
  font-size: 2.56rem;

}

.section h3 {
  font-weight: lighter;

}



@media (max-width: 600px) {
  .row .col.s12.m4 {
    text-align: center;
  }
}

@media (max-width: 1000px) {}

footer .container .row {
  margin-bottom: 0;
}







.table-of-contents a.active {
  font-weight: normal;
  padding-left: 15px;
  border-left: none;
}

.table-of-contents a:hover {
  color: #424242;
  border-left: none;
}

.table-of-contents a {
  display: inline-block;
  font-weight: normal;

  padding-left: 15px;
  line-height: inherit;
  letter-spacing: .4;
}




 */